/* ------------------------- Tablet View ----------------------- */

@media (min-width:768px) and (max-width:1080px) {
    html {
        font-size: 72.5%;
    }
    .container {
        max-width: 90%;
    }
    /* header area */
    .header-left,
    .hrader-right {
        flex-basis: 48%;
    }
    .hrader-right img {
        width: 100%;
        height: 100%;
    }
    /* =============clicent area============== */
    .clients {
        grid-template-columns: repeat(3, 1fr);
    }
    /* =================== product area =========================== */
    .product-items {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
    /* =============== footer area ====================== */
    .footer {
        width: 100%;
    }
    .footer .social a:nth-of-type(2) {
        padding: 8px 9px;
    }
    .footer .social a:nth-of-type(3) {
        padding: 9px 11px;
    }
    .footer .social a:nth-of-type(4) {
        padding: 9px 9px;
    }
    .footer .social a:nth-of-type(1) {
        padding: 8px 10px;
    }
}


/* ------------------------- Mobile View ----------------------- */

@media only screen and (max-width:767px) {
    html {
        font-size: 62.5%;
    }
    .container {
        max-width: 100%;
    }
    /* header area */
    .header {
        margin-bottom: 50px;
    }
    .nav-menu {
        padding: 0;
        align-items: center;
        border-bottom: 1px solid var(--secondary-color);
    }
    .logo {
        padding: 10px;
    }
    .nav-menu .fa-bars {
        color: var(--secondary-color);
        font-size: 2.5em;
        margin-right: 20px;
    }
    .nav-menu .menu-items {
        flex-direction: column;
        background: var(--secondary-color);
        position: absolute;
        width: 100%;
        left: -100%;
        top: 50px;
        text-align: center;
        transition: 1s ease;
    }
    .nav-menu .menu-items .menu-item {
        padding: 20px;
        margin-right: 0;
        border-top: 1px solid var(--primary-color);
        width: 100%;
    }
    .nav-menu .menu-items .menu-item a {
        font-size: 1.2em;
        color: var(--white-color);
    }
    .nav-menu .menu-items .menu-item a:hover {
        color: var(--white-color);
    }
    .nav-menu .fa-bars {
        display: block;
    }
    #chack:checked~.menu-items {
        left: 0;
    }
    .header-conten {
        flex-direction: column;
    }
    .header-left {
        order: 2;
        flex-basis: 0;
        margin-top: 20px;
        text-align: center;
    }
    .hrader-right {
        flex-basis: 0;
        text-align: center;
    }
    .hrader-right img {
        width: 98%;
        height: 90%;
    }
    .hrader-right img:hover {
        transform: scale(1);
    }
    /* ============client area======================= */
    .clients {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ===============product section ================ */
    .product {
        margin-bottom: 50px;
    }
    .product-items {
        grid-template-columns: repeat(1, 1fr);
    }
    /* ===================contact area =========================== */
    .contact {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .contact-item:hover {
        background-color: var(--secondary-color);
        transform: scale(1);
    }
    /* ====================================footer section ======================= */
    .footer {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .footer .social a {
        margin: 0 5px;
    }
    .footer .social a:nth-of-type(2) {
        padding: 6px 7px;
    }
    .footer .social a:nth-of-type(3) {
        padding: 7px 9px;
    }
    .footer .social a:nth-of-type(4) {
        padding: 7px 7px;
    }
    .footer .social a:nth-of-type(1) {
        padding: 6px 8px;
    }
}