@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    --primary-color:#012443;
    --secondary-color: #8236CB;
    --star-color: #FE7E6D;
    --white-color: #fff;
}
html,body{
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
/* ===================== common uses elements ======================== */
h1,h2,h3{
    font-weight: 700;
}
h1{
    font-size:3.25em;
}
h2{
    font-size:2.37em;
}
h3{
    font-size: 1.5em;
}
a{
    text-decoration:none;
}
.container{
    max-width:1028px;
}
.btn{
    font-size:1em;
    font-weight:700;
    color: var(--white-color);
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 14px rgba(187, 80, 230, 0.747);
    padding:10px 24px;
    margin: 20px 0;
    display:inline-block;
    transition: 1s ease;
}
.btn i{
    margin-left: 10px;
}
.btn:hover{
    transform:scale(1.1)
}
.base-color{
    color:var(--secondary-color);
}

/* ============================== header area style =================================== */
.header{
    margin-bottom: 100px;
}
.nav-menu{
    display:flex;
    justify-content: space-between;
    padding: 45px 0 0;
}
.logo{
    font-size:1.8em;
}
.nav-menu .menu-items{
    display:flex;
    align-items:center;
}
.nav-menu .menu-items .menu-item{
    list-style: none;
    margin-right: 34px;
}
.nav-menu .menu-items .menu-item a{
    font-size: 1em;
    color:var(--primary-color);
}
#chack,.nav-menu .fa-bars{
    display:none;
}
/* header content */
.header-conten{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-top:80px;
    height: calc(100vh-80px);
}
.header-left,.hrader-right{
    flex-basis: 45%;
    
}
.header-left .btn{
    border-radius: 50px;
}
.header-left h1{
    margin-bottom: 16px;
}

.hrader-right img{
    width:440px;
    height: 414px;
    border-radius:10px;
    transition: 1s ease;
}
.hrader-right img:hover{
    transform: scale(1.1);
}
  /* ========================= main section style ==================== */
.clients{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    place-items: center;
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    margin-bottom:100px;

}
.clients img{
    width:84px;
    height: 24px;
    margin: 20px;
}
/* ====================== product section style================== */
.product{
    margin-bottom: 100px;
}
.product-header{
    text-align: center;
    margin-bottom:50px;
}
.product-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    grid-gap: 30px;
}
.product-item{
    padding:10px 10px 25px;
    box-shadow: 2px 2px 14px rgba(218, 210, 210, 0.747);
    border-radius: 5px;
    overflow: hidden;
    transition: 1s ease;
}
.product-item img{
    border-radius: 5px;
    width: 100%;
}
.product-item .rating{
    margin: 10px 0;
}
.product-item h3{
    margin: 16px 0;
}
.product-item:hover{
    transform: scale(1.05);
}
.product-item .rating .fas,.far{
    color: var(--star-color);
}
.prodect-btn{
    display: flex;
    justify-content: right;
}
.prodect-btn .btn{
    background-color: transparent;
    color: var(--secondary-color);
    box-shadow:none;
}
/* ================== contact section style ====================== */
.contact{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    place-items:center;
    grid-gap:40px;
    margin-bottom: 100px;
}
.contact-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 2px 2px 24px var(--primary-color);
    border-radius: 10px;
    transition: 1s  ease;
}
.contact-item:hover{
    background-color:var(--secondary-color);
    transform: scale(1.1);
}
.contact-item h3{
    margin-bottom: 20px;
}
.contact-item .fas{
    font-size:3em;
}

/* footer secton */
.footer{
    background-color:var(--primary-color);
    color: var(--white-color);
    width: 130%;
    text-align: center;
}